<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Rafif</h2>
      <h4>Email</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  </div>

  <h2 MatSubheader>Tools</h2>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <ng-material-multilevel-menu [configuration]='config' [items]='ddpengguna'></ng-material-multilevel-menu>
  <ng-material-multilevel-menu [configuration]='config' [items]='ddsklh'></ng-material-multilevel-menu>
  <ng-material-multilevel-menu [configuration]='config' [items]='ddmhs'></ng-material-multilevel-menu>
  <mat-divider></mat-divider>

  <h2 MatSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>

</mat-nav-list>