<p>gurutampbahnilai works!</p>


<mat-grid-tile-header > <h4>A.PENENTUAN BAHAN PEMBELAJARAN DAN MERUMUSKAN TUJUAN </h4></mat-grid-tile-header>
<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">1.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Kesesuaian bahan pembelajaran yang digunakan dengan kurikulum </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">2.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
  <div style="position: absolute; left: 5px;">
    <p> Keseuaian rumusan kompetensi dasar, indikator dan tujuan pembelajaran </p>
  </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-tile-header > <h4>PEMILIHAN DAN PENGORGANISASIAN MATERI, MEDIA, DAN SUMBER</h4>  </mat-grid-tile-header>
<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">3.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Kesesuaian materi dengan tujuan, perkembangan siswa, dan urutkan, kedalaman, dan kemutakhiran materi </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">4.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Kesesuaian media (alat bantu mengajar) dengan tujuan, materi, metoda, dan lingkungan (daya cerna) siswa.</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">5.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Kesesuaian sumber belajar dengan tujuan, materi, metoda, dan lingkungan(daya cerna) siswa</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-tile-header > <h4>C. RANCANGAN SKENARIO/STRATEGI PEMBELAJARAN</h4> </mat-grid-tile-header>
<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">6.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Kesesuaian kegiatan belajar yang dipilih dengan tujuan, bahan, waktu, sarana, lingkungan, dan bervariasi serta memungkinkan keterlibatan siswa.</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">7.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Kesesuaian langkah kegitan belajar yang dipilih dengan tujuan, bahan, waktu, sarana, lingkungan, dan memungkinkan keterlibatan siswa. </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">8.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Cara-cara pengorganisasian siswa seperti bahan, kegiatan, media yang menarik, dan melibatkan siswa. </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-tile-header > <h4>D. RANCANGAN PENGELOLAAN KELAS</h4> </mat-grid-tile-header>
<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">9.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Alokasi waktu belajar-mengajar (pembukaan, inti, penutup) dicantumkan rinci, dan proposional. </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">10.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Cara-cara pengorganisasian siswa agr berpartisipasi aktif dalam kegiatan pembelajaran. </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-tile-header > <h4>E. RANCANGAN PROSEDUR BENTUK DAN JENIS PENILAIAN</h4> </mat-grid-tile-header>
<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">11.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Jenis dan prosedur penilaian relavan dengan kompetensi, indicator, dan materi. </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">12.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Teknik penilaian yang direncanakan mencakup tes, unjuk kerja, hasil karya, dan penugasan. </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">13.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Layanan remedial dan pengayaan dicantumkan dan diuraikan secara lengkap </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-tile-header > <h4>F. KESAN UMUM RENCANA PEMBELAJARAN</h4> </mat-grid-tile-header>
<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">14.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Kebersihan dan kerapian tulisan, dan ilustrasi menarik. </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols="10" rowHeight="70px">
  <mat-grid-tile colspan=" 1 ">15.</mat-grid-tile>
  <mat-grid-tile colspan=" 5 " style="text-align: left;">
    <div style="position: absolute; left: 5px;">
      <p> Penggunaan bahasa tulis tepat, baku, komunikatif, dan sesuai dengan EYD </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="1"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="2"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="3"></mat-radio-button></mat-grid-tile>
  <mat-grid-tile ><mat-radio-button value="4"></mat-radio-button></mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
