<div>
  <img src="assets/logoulm.png">
  <p style="color: grey;">Silahkan login dengan Email dan password</p>
  <form [formGroup]="formLogin" (submit)="onSubmit()">  
      <mat-form-field>
          <input
          matInput
          type="text"
          formControlName="email_pengguna"
          placeholder="Email">
      </mat-form-field>
      <mat-form-field>
          <input
          matInput
          type="password"
          formControlName="password_pengguna"
          placeholder="Password">
      </mat-form-field>
      <button style="align-self: flex-end;" mat-raised-button color="accent" type="submit" >Log In</button>
  </form>
</div>