mat-form-field {
  width: 100%;
}

mat-card{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

mat-card img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}