<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="formGuru" (submit)="simpanAkunGuru()" *ngIf="!isLoading">
    <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="nama_guru"
          placeholder="Nama">
          <mat-error *ngIf="formGuru.get('nama_guru').invalid">Masukkan nama</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="email_guru"
        placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        formControlName="pass_guru"
        placeholder="Password">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save post
    </button>
  </form>
</mat-card>
