<div>
  <div>
    <button mat-icon-button routerLink="/dashboard/staff/tambahdosen">
      <mat-icon>add_box</mat-icon>
    </button>
    <table mat-table [dataSource]="akundosen" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="nama_dosen">
        <th mat-header-cell *matHeaderCellDef> Nama </th>
        <td mat-cell *matCellDef="let akundosen"> {{akundosen.nama_dosen}}</td>
      </ng-container>
      <ng-container matColumnDef="nip">
        <th mat-header-cell *matHeaderCellDef> NIP</th>
        <td mat-cell *matCellDef="let akundosen">{{akundosen.nip}} </td>
      </ng-container>
      <ng-container matColumnDef="no_hp_dosen">
        <th mat-header-cell *matHeaderCellDef> Nomor Handphone </th>
        <td mat-cell *matCellDef="let akundosen">{{akundosen.no_hp_dosen}} </td>
      </ng-container>
      <ng-container matColumnDef="pangkat_dosen">
        <th mat-header-cell *matHeaderCellDef> Pangkat/Golongan/Jabatan </th>
        <td mat-cell *matCellDef="let akundosen">{{akundosen.pangkat_dosen}} </td>
      </ng-container>
      <ng-container matColumnDef="aksi">
        <th mat-header-cell *matHeaderCellDef> Aksi </th>
        <td mat-cell *matCellDef="let akundosen"> 
          <div >
            <a mat-button color="primary" [routerLink]="['ubahdata', akundosen.id]">EDIT</a>
            <button mat-button color="warn" (click)="hapusDosen(akundosen.id)">DELETE</button>
          </div>
        </td>
      </ng-container>      
      <tr mat-header-row *matHeaderRowDef="kolomDosen"></tr>
      <tr mat-row *matRowDef="let row; columns: kolomDosen;"></tr>
    </table>
  </div>
</div>