<div>
  <div>
    <button mat-icon-button routerLink="/dashboard/staff/tambahguru">
      <mat-icon>add_box</mat-icon>
    </button>
    <table mat-table [dataSource]="guru" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef> Nama. </th>
        <td mat-cell *matCellDef="let guru"> {{guru.nama_guru}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let guru">{{guru.email_guru}} </td>
      </ng-container>
      <ng-container matColumnDef="aksi">
        <th mat-header-cell *matHeaderCellDef> Aksi </th>
        <td mat-cell *matCellDef="let guru"> 
          <mat-action-row >
            <a mat-button color="primary" [routerLink]="['ubahdata', guru.id]">EDIT</a>
            <button mat-button color="warn" (click)="hapusGuru(guru.id)">DELETE</button>
          </mat-action-row>
        </td>
      </ng-container>      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalAkunGuru" [pageSize]="ukuranHalaman" [pageSizeOptions]="banyakPerHalaman" (page)="handlePageChange($event)"></mat-paginator>    
  </div>
</div>