
    <div>
        <img src="assets/logoulm.png">
        <form [formGroup]="formRegister" (submit)="onSubmit()">
            <mat-form-field>
                <input
                matInput
                type="text"
                formControlName="email_pengguna"
                placeholder="Email">
            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                type="text"
                formControlName="password_pengguna"
                placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" >Sign In</button>
        </form>        
      </div>
