<div style="text-align: center;">
  <h4> Pendaftaran Mahasiswa </h4>
</div>
<div>
  <form [formGroup]="formMhs" (submit)="simpanAkunMhs()" >
    <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="nama_mhs"
          placeholder="Nama">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="nim_mhs"
        placeholder="Nim">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="no_hp_mhs"
        placeholder="Nomor Handphone">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="ipk_mhs"
        placeholder="IPK">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="nokwitansi_mhs"
        placeholder="No.Kwitansi">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Simpan
    </button>
  </form>
</div>
