<p>penempatan-dosen works!</p>
<div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="nomor">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let post">{{post.nomor}} </td>
      </ng-container>

      <ng-container matColumnDef="dospem">
        <th mat-header-cell *matHeaderCellDef> Dosen Pembimbing </th>
        <td mat-cell *matCellDef="let post"> {{post.dospem}} </td>
      </ng-container>

      <ng-container matColumnDef="sekolah">
        <th mat-header-cell *matHeaderCellDef> Sekolah </th>
        <td mat-cell *matCellDef="let post"> {{post.sekolah}}</td>
      </ng-container>

      <ng-container matColumnDef="kelompok">
        <th mat-header-cell *matHeaderCellDef> Kelompok </th>
        <td mat-cell *matCellDef="let post"> {{post.kelompok}}</td>
      </ng-container>    
      <!-- Weight Column -->
      <ng-container matColumnDef="ketua">
        <th mat-header-cell *matHeaderCellDef> Ketua Kelompok </th>
        <td mat-cell *matCellDef="let post"> {{post.ketua}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!--<mat-paginator [length]="totalmahasiswa" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0 "></mat-paginator>-->    
  </div>
</div>