<div>
    <div>
      <button mat-icon-button routerLink="/dashboard/kaprodi/tambahsekolah">
        <mat-icon>add_box</mat-icon>
      </button>
      <!-- <button class="m-3 btn btn-sm btn-danger" (click)="hapusSemuaDataSekolah()">
        Remove All
      </button> -->
      <table mat-table [dataSource]="sekolah" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="nama_sekolah">
          <th mat-header-cell *matHeaderCellDef> Nama Sekolah. </th>
          <td mat-cell *matCellDef="let sekolah"> {{sekolah.nama_sekolah}}</td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="kuotamhs">
          <th mat-header-cell *matHeaderCellDef> Kuota Mahasiswa </th>
          <td mat-cell *matCellDef="let sekolah">{{sekolah.kuotamhs}} </td>
        </ng-container>
        <ng-container matColumnDef="aksi">
          <th mat-header-cell *matHeaderCellDef> Aksi </th>
          <td mat-cell *matCellDef="let sekolah"> 
            <mat-action-row >
              <a mat-button color="primary" [routerLink]="['ubahsekolah', sekolah.id]" >EDIT</a>
              <button mat-button color="warn" (click)="hapusSekolah(sekolah.id)">DELETE</button>
            </mat-action-row>
          </td>
        </ng-container>      
        <tr mat-header-row *matHeaderRowDef="kolomSekolah"></tr>
        <tr mat-row *matRowDef="let row; columns: kolomSekolah;"></tr>
      </table>
      <mat-paginator [length]="totalAkunSekolah" [pageSize]="ukuranHalaman" [pageSizeOptions]="banyakPerHalaman" (page)="handlePageChange($event)"></mat-paginator>    
    </div>
  </div>