<div>
  <table mat-table [dataSource]="nilai" class="mat-elevation-z8">
    <ng-container matColumnDef="nama">
      <th mat-header-cell *matHeaderCellDef> Nama. </th>
      <td mat-cell *matCellDef="let nilai"> {{nilai.nama_mhs}}</td>
    </ng-container>
    <ng-container matColumnDef="nilaiuts">
      <th mat-header-cell *matHeaderCellDef> UTS </th>
      <td mat-cell *matCellDef="let nilai">{{nilai.nilai?.nilaiDosen_uts}} </td>
    </ng-container>
    <ng-container matColumnDef="nilaiuas">
      <th mat-header-cell *matHeaderCellDef> UAS </th>
      <td mat-cell *matCellDef="let nilai">{{nilai.nilai?.nilaiDosen_uas}} </td>
    </ng-container>    
    <tr mat-header-row *matHeaderRowDef="kolomNilai"></tr>
    <tr mat-row *matRowDef="let row; columns: kolomNilai;"></tr>
  </table>
</div>