<div>
    <div>
      <table mat-table [dataSource]="mhs" class="mat-elevation-z8">
        <ng-container matColumnDef="nama_mhs">
          <th mat-header-cell *matHeaderCellDef> Nama. </th>
          <td mat-cell *matCellDef="let mhs"> {{mhs.nama_mhs}}</td>
        </ng-container>
        <ng-container matColumnDef="nim">
          <th mat-header-cell *matHeaderCellDef> NIM</th>
          <td mat-cell *matCellDef="let mhs">{{mhs.nim_mhs}} </td>
        </ng-container>
        <ng-container matColumnDef="sekolah">
            <th mat-header-cell *matHeaderCellDef> Sekolah </th>
            <td mat-cell *matCellDef="let mhs">{{ mhs.sekolah.nama_sekolah }} </td>
        </ng-container> 
        <tr mat-header-row *matHeaderRowDef="kolomMhs"></tr>
        <tr mat-row *matRowDef="let row; columns: kolomMhs;"></tr>
      </table>
      <!-- <mat-paginator [length]="totalAkunMhs" [pageSize]="ukuranHalaman" [pageSizeOptions]="banyakPerHalaman" (page)="handlePageChange($event)"></mat-paginator>     -->
    </div>
  </div>