<div>
  <div>
    <button mat-icon-button routerLink="/dashboard/mhs/tambahmhs">
      <mat-icon>add_box</mat-icon>
    </button>
    <button class="m-3 btn btn-sm btn-danger" (click)="hapusSemuaDataMhs()">
      Remove All
    </button>
    <table mat-table [dataSource]="mhs" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="nama">
        <th mat-header-cell *matHeaderCellDef> Nama. </th>
        <td mat-cell *matCellDef="let mhs"> {{mhs.nama_mhs}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="nim">
        <th mat-header-cell *matHeaderCellDef> Nim </th>
        <td mat-cell *matCellDef="let mhs">{{mhs.nim_mhs}} </td>
      </ng-container>
      <ng-container matColumnDef="no_hp_mhs">
        <th mat-header-cell *matHeaderCellDef> Nomor Handphone </th>
        <td mat-cell *matCellDef="let mhs">{{mhs.no_hp_mhs}} </td>
      </ng-container>
      <ng-container matColumnDef="ipk">
        <th mat-header-cell *matHeaderCellDef> IPK </th>
        <td mat-cell *matCellDef="let mhs">{{mhs.ipk_mhs}} </td>
      </ng-container>
      <ng-container matColumnDef="nokwitansi">
        <th mat-header-cell *matHeaderCellDef> No.Kwitansi </th>
        <td mat-cell *matCellDef="let mhs">{{mhs.nokwitansi_mhs}} </td>
      </ng-container>
      <ng-container matColumnDef="aksi">
        <th mat-header-cell *matHeaderCellDef> Aksi </th>
        <td mat-cell *matCellDef="let mhs"> 
          <mat-action-row >
            <a mat-button color="primary" [routerLink]="['ubahdata', mhs.id]">EDIT</a>
            <button mat-button color="warn" (click)="hapusMhs(mhs.id)">DELETE</button>
          </mat-action-row>
        </td>
      </ng-container>      
      <tr mat-header-row *matHeaderRowDef="kolomMhs"></tr>
      <tr mat-row *matRowDef="let row; columns: kolomMhs;"></tr>
    </table>
    <mat-paginator [length]="totalAkunMhs" [pageSize]="ukuranHalaman" [pageSizeOptions]="banyakPerHalaman" (page)="handlePageChange($event)"></mat-paginator>    
  </div>
</div>