<div>
    <div>
      <table mat-table [dataSource]="mhs" class="mat-elevation-z8">
        <ng-container matColumnDef="namaMahasiswa">
          <th mat-header-cell *matHeaderCellDef> Nama </th>
          <td mat-cell *matCellDef="let mhs"> {{mhs.nama_mhs}}</td>
        </ng-container>    
        <!-- Weight Column -->
        <ng-container matColumnDef="nim_mhs">
          <th mat-header-cell *matHeaderCellDef> Nim </th>
          <td mat-cell *matCellDef="let mhs"> {{mhs.nim_mhs}} </td>
        </ng-container>  
        <ng-container matColumnDef="penempatan">
          <th mat-header-cell *matHeaderCellDef> Penempatan </th>
          <td mat-cell *matCellDef="let mhs" > 
            <mat-action-row >
              <mat-select (selectionChange)="insertSekolah($event, mhs.id)"  placeholder="pilih sekolah">
                <mat-option  type="submit" *ngFor="let pilih of sekolah" [value]= "pilih.id"> {{pilih.nama_sekolah}} </mat-option>
              </mat-select>
            </mat-action-row>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="kolomMhs"></tr>
        <tr mat-row *matRowDef="let row; columns: kolomMhs;"></tr>
      </table>
      <mat-paginator [length]="totalAkunMhs" [pageSize]="ukuranHalaman" [pageSizeOptions]="banyakPerHalaman" (page)="handlePageChange($event)"></mat-paginator>    
    </div>
  </div>