<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="formAkunDosen" (submit)="simpanAkunDosen()" *ngIf="!isLoading">
    <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="nama_dosen"
          placeholder="Nama">
          <mat-error *ngIf="formAkunDosen.get('nama_dosen').invalid">Masukkan nama</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="nidn"
        placeholder="NIDN">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save post
    </button>
  </form>
</mat-card>
