<div>
  <form [formGroup]="formAkunDosen" (submit)="simpanAkunDosen()">
    <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="nama_dosen"
          placeholder="Nama">
          <mat-error *ngIf="formAkunDosen.get('nama_dosen').invalid">Masukkan nama</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="nip"
        placeholder="NIP">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="no_hp_dosen"
        placeholder="Nomor Handphone">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="pangkat_dosen"
        placeholder="Pangkat/Golongan/Jabatan ">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save post
    </button>
  </form>
</div>
