<div>
  <div>
    <table mat-table [dataSource]="guru" class="mat-elevation-z8">
      <ng-container matColumnDef="nama_guru">
        <th mat-header-cell *matHeaderCellDef> Nama Guru </th>
        <td mat-cell *matCellDef="let guru"> {{guru.nama_guru}}</td>
      </ng-container> 
      <ng-container matColumnDef="penempatan">
        <th mat-header-cell *matHeaderCellDef> Penempatan </th>
        <td mat-cell *matCellDef="let guru"> 
          <mat-action-row >
            <mat-select placeholder="pilih mhs">
              <mat-option *ngFor="let pilih of mhs" [value]= "pilih.nama_mhs" > {{pilih.nama_mhs}} </mat-option>
            </mat-select>
          </mat-action-row>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="kolomGuru"></tr>
      <tr mat-row *matRowDef="let row; columns: kolomGuru;"></tr>
    </table>
    <mat-paginator [length]="totalDataGuru" [pageSize]="ukuranHalaman" [pageSizeOptions]="banyakPerHalaman" (page)="handlePageChange($event)"></mat-paginator>    
  </div>
</div>