<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="formSekolah" (submit)="simpanDataSekolah()" *ngIf="!isLoading">
    <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="nama_sekolah"
          placeholder="Sekolah">
          <mat-error *ngIf="formSekolah.get('nama_sekolah').invalid">Masukkan nama</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="kuotamhs"
        placeholder="Kuota Mahasiswa">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save post
    </button>
  </form>
</mat-card>
