<app-header (toggleSideBarForMe)="sideBarToggler($event)"></app-header>

<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <app-sidebar></app-sidebar> -->
    <router-outlet name="sidebardosen"></router-outlet>
    <router-outlet name="sidebarguru"></router-outlet>
    <router-outlet name="sidebarkaprodi"></router-outlet>
    <router-outlet name="sidebarstaff"></router-outlet>
    <router-outlet name="sidebarmhs"></router-outlet>
    <router-outlet name="sidebaradmin"></router-outlet>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>