<mat-grid-list cols='3' rowHeight='200px'>
  <mat-grid-tile>
    <mat-card routerLink="/dashboard/kaprodi/tambahsekolah" routerLinkActive="active">
      Tambah sekolah
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/dashboard/kaprodi/pilihtempatdosen" routerLinkActive="active">
      Penempatan Dosen
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card routerLink="/dashboard/kaprodi/pilihtempatmhs" routerLinkActive="active">
      Penempatan Mahasiswa
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>