<div style="text-align: center;">
  <h4> Penilaian Dosen </h4>
</div>
<form>
  <div *ngFor="let soalView of Nilai">
    <mat-grid-tile-header >{{soalView.header}}</mat-grid-tile-header>
    <mat-grid-list cols="10" rowHeight="50px">
      <mat-grid-tile colspan="1">{{soalView.nomorSoal}}</mat-grid-tile>
      <mat-grid-tile colspan="5">{{soalView.soalNilai}}</mat-grid-tile>
      <mat-grid-tile colsspan="4" *ngFor="let rButton of tombol">
        <mat-radio-group>
          <mat-radio-button  [value]="rButton.value">
          </mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</form>
