<mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredNama">
  </mat-form-field>
  <mat-form-field>
      <input matInput type="text" [(ngModel)]="enteredNim">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="enteredIPK">
      </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredNokwitansi"></textarea>
  </mat-form-field>
  <button 
  mat-raised-button
  color="primary" 
  (click)="onAddPost()">Save post</button>
</mat-card>