<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
        <input 
          matInput 
          type="text" 
          name="nama"
          ngModel
          required
          placeholder="Nama"
          #nama="ngModel">
          <mat-error *ngIf="nama.invalid">Masukkan nama</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput 
        type="text"
        name="nim" 
        placeholder="Nim"
        ngModel>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput 
        type="text"
        name="ipk" 
        placeholder="IPK"
        ngModel>
    </mat-form-field>
    <mat-form-field>
      <textarea 
        matInput 
        rows="6"
        name="nokwitansi" 
        placeholder="No. Kwitansi"
        ngModel>
      </textarea>
    </mat-form-field>
    <button 
      mat-raised-button
      color="primary" 
      type="submit">Save post
    </button>
  </form>
</mat-card>