<app-header (toggleSideBarForMe)="sideBarToggler($event)"> </app-header>
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen"> 
    <app-sidebaradmin></app-sidebaradmin>
  </mat-drawer>
<mat-drawer-content>
    <div style="text-align: center;">
      <h4> Tambah pengguna </h4>
    </div>
    <mat-card>
      <form [formGroup]="formDaftar" (submit)="daftar()" >
        <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="email"
              placeholder="Email">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="password"
            placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName = "peran">
            <mat-option *ngFor="let perans of peran" [value]= "perans">{{perans}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit">Daftar
        </button>
      </form>
    </mat-card>
    <mat-card>
      <table mat-table [dataSource]='pengguna' class="mat-elevation-z8">
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let pengguna">{{pengguna.email_pengguna}}</td>
        </ng-container>
        <ng-container matColumnDef="peran">
          <th mat-header-cell *matHeaderCellDef>Peran</th>
          <td mat-cell *matCellDef="let pengguna">{{pengguna.perans[0].nama_peran}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="kolomPengguna"></tr>
        <tr mat-row *matRowDef="let row; columns: kolomPengguna;"></tr>
      </table>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
