<div>
  <div>
    <table mat-table [dataSource]="dosen" class="mat-elevation-z8" >
      <ng-container matColumnDef="nama" >
        <th mat-header-cell *matHeaderCellDef> Nama </th>
        <td mat-cell *matCellDef="let dosen ">{{dosen.nama_mhs}}</td>
      </ng-container>
      <ng-container matColumnDef="nim">
        <th mat-header-cell *matHeaderCellDef> Nim. </th>
        <td mat-cell *matCellDef="let dosen"> {{dosen.nim_mhs}}</td>
      </ng-container>
      <ng-container matColumnDef="nilaiuts">
        <th mat-header-cell *matHeaderCellDef > UTS </th>
        <td mat-cell *matCellDef="let dosen" >
          <p >{{dosen.nilai?.nilaiDosen_uts}}</p>
          <mat-action-row >
            <button mat-button color="nilai" (click)="nilaiUTS(dosen.id)" *ngIf="!dosen.nilai?.nilaiDosen_uts">Nilai</button>
          </mat-action-row>
        </td>
      </ng-container>
      <ng-container matColumnDef="nilaiuas">
        <th mat-header-cell *matHeaderCellDef > UAS </th>
        <td mat-cell *matCellDef="let dosen" > 
          <p >{{dosen.nilai?.nilaiDosen_uas}}</p>
          <p *ngIf="!dosen.nilai?.nilaiDosen_uas && !dosen.nilai?.nilaiDosen_uts" style="color: grey">isi nilai uts</p>
          <mat-action-row >
            <button mat-button color="nilai" (click)="nilai(dosen.id)" *ngIf="dosen.nilai?.nilaiDosen_uts && !dosen.nilai?.nilaiDosen_uas">Nilai</button>
          </mat-action-row>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="kolomNilai"></tr>
      <tr mat-row *matRowDef="let row; columns: kolomNilai;"></tr>
    </table>
  </div>
</div>