<mat-toolbar color="primary">
  <mat-toolbar-row >
    <button *ngIf="userIsAuthenticated" mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span> App Logo</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <li mat-menu-item>
              <mat-icon>person</mat-icon>
              <a mat-button routerLink="/login" routerLinkActive="mat-accent">Sign In</a>
            </li>
            <li mat-menu-item>
              <mat-icon>person_add</mat-icon>
              <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign Up</a>
            </li>
            <button mat-menu-item *ngIf="userIsAuthenticated">
              <mat-icon>exit_to_app</mat-icon>
              <a mat-button routerLink="" routerLinkActive="mat-accent">Sign Out</a>
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>